*{
    margin: 0;
    padding: 0;
}
/*nav*/

nav {
    background-color: black;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: right;
    padding-right: 50px;
}

nav ul li {
    display: inline-block;
    padding: 15px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

nav ul li:hover a {
    color: rgba(255, 255, 255, 0.76);
}

nav ul li ul {
    display: none;
    position: absolute;
}

nav ul li:hover ul {
    display: block;
    background-color: rgba(0, 0, 0, 0.904);
    font-size: 10px;
    left: 0;
}



