*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color: #001850;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
 width: 10px;   
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    padding: 10px;

}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.fondoHeader{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondoHeader h1 {
    color: white;
    text-align: center;
}

.tarjeta{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.tarjetas{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn{
    background-color: #001850;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}
