*{
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
}

nav {
    width: 100%;
    padding: 20px;
}

nav ul li{
    display: inline-block;
    padding: 25px;
    position: relative;
}

nav ul li:hover ul {
    display: block;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: black;
    left: 0;
}